.com-detail{
    width: 70%;
    margin: 0;
    float: left;
  }
.company { 
  width: 90%; 
  border-collapse: collapse; 
  }
.company td { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
  font-size: 12px;
}
.com-user li{
  list-style: none;
}
.add-user {
  float: left;
}
a:hover{
 text-decoration: none;
}