
<!DOCTYPE html>
<html>
<head>
  <title>Imeet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>






  <%= csrf_meta_tags %>
</head>
<body style = "background-image: background.jpg" > 
  


<%= yield %>

</body>
</html>
