

    <html> 

   <head>
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="styles.css" type="text/css" media="screen, print"/>
	   <link rel="stylesheet" href="styles.css" type="text/css" media="screen, print"/>
	</head>
	<body>
	<script type="text/javascript">



$(document).ready(function(){  

 $('#button').on('click',function(e){

        e.preventDefault();
               

   

             $.post( "work_project.php", $("#frame3").serializeArray(),function(){
                 $('#status').css({'display':'block'}).delay(500).fadeOut(); 
            $('#preloader').css({'display':'block'}).delay(500).fadeOut('slow');

             } );

            


    }); 
});
</script>
   
	
	

	<div id="container" class="ui-widget-content ui-corner-all" style="padding-left:0px; padding-right:10px;" >
		<h2 class="ui-widget-header ui-corner-all" id="ui-widget-header ui-corner-all"style="z-index:10;" >Work on Projects</h2>
		<table>
		<form id="frame3" class="ui-widget-content ui-corner-all" action="work_project.php" method="post" style="font: 81.25% arial, helvetica, sans-serif;">
			<p>
				<tr><td>Project ID</td>
				<td><input type="text" name="proj_id" id="proj_id" /></td></tr>
			</p>
			
				<p>
				<tr><td>User Name</td>
				<td><input type="text" name="user_name" id="user_name" /></td></tr>
			</p>
			
			<p>
				<tr><td>Password</td>
				<td><input type="password" name="password" id="password" /></td></tr>
			</p>

			
			
		
			<p>
				<tr><td><input id="button" type="submit" value="Submit" />
			<input type="reset" value="Cancel"/></td></tr>
			</p>
		</form>
		</table>
	</div>
	
	
	<div id="preloader" class="ui-widget-content ui-corner-all">
    <div id="status" >&nbsp;</div>
</div>
	
	
</body>
</html>




















